@import "variables";

body {
    font-family: $font-family;
    font-stretch: expanded;
    color: $text-color;
    font-weight: 500;
}

b, small {
    color: $small-text-color;
    font-weight: 500;
}

a {
    color: $a-text-color;

    :visited {
        color: darken($a-text-color, 10%);
    }
}

.text {
    &.red {
        color: $red;
    }
}

#{headings(1,6)}, .label {
    color: $h-text-color;
    font-family: "Oswald", "PingFang SC", serif;
    font-weight: 600;
    letter-spacing: 0.07em;
    font-variant: small-caps;
}
